<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/style.css">
   <title>Document</title>
</head>

<body>
   <input type="text" id="search-box" onkeyup="searchData(this)">
   <section id="searchResoult">

   </section>

   <table id="tableCards" border="2" align="center">
      <tr>
         <th>Name</th>
         <th>Issuer</th>
         <th>Apr</th>
         <th>Fee</th>
         <th>Travel</th>
         <th>Dining</th>
         <th>Other</th>
      </tr>

      <% cardsList.forEach(card=> { %>
         <tr>
            <th>
               <%= card.name %>
            </th>
            <td>
               <%= card.issuer %>
            </td>
            <td>
               <%= card.apr %>
            </td>
            <td>
               <%= card.Fee %>
            </td>
            <td>
               <%= card.travel %>
            </td>
            <td>
               <%= card.dining %>
            </td>
            <td>
               <%= card.other %>
            </td>
         </tr>
         <% }) %>

   </table>

   <form class="form">
      <label>Cards name</label>
      <input type="text" name="name">

      <label>Issuer</label>
      <input type="text" name="issuer">

      <label>Apr</label>
      <input type="text" name="apr">

      <label>Fee</label>
      <input type="text" name="Fee">

      <label>Travel</label>
      <input type="text" name="travel">

      <label>Dining</label>
      <input type="text" name="dining">

      <label>Other</label>
      <input type="text" name="other">

      <input type="submit"></input>

   </form>

   <script>
      const debounce = (fn, ms) => {
         let timeout;
         return function () {
            const fnCall = () => { fn.apply(this, arguments) }
            clearTimeout(timeout);
            timeout = setTimeout(fnCall, ms)
         };
      }

      function onChange(e) {
         console.log(e.target.value);
      }

      onChange = debounce(onChange, 5000);
      document.getElementById('search-box').addEventListener('keyup', onChange);

      const fecthData = async (url, method = 'GET', body = undefined) => {
         const response = await fetch(url, {
            method,
            headers: {
               'Content-Type': 'application/json'
            },
            body: body ? JSON.stringify(body) : undefined
         });
         return await response.json();
      }

      const clearTable = () => {
         const rows = document.querySelectorAll('#tableCards > tbody > tr');
         rows.forEach((row, index) => {
            if (index > 0) {
               row.remove();
            }
         })
      };

      const loadDataTable = (cards) => {
         const table = document.querySelector('#tableCards');

         cards.forEach(card => {
            table.insertAdjacentHTML('beforeend', `
               <tr>
                  <th>${card.name}</td>
                  <td>${card.issuer}</td>
                  <td>${card.apr}</td>
                  <td>${card.Fee}</td>
                  <td>${card.travel}</td>
                  <td>${card.dining}</td>
                  <td>${card.other}</td>
               </tr>
            `);
         });
      }

      const addRowTable = (card) => {
         const table = document.querySelector('#tableCards');
         table.insertAdjacentHTML('beforeend', `
            <tr>
               <th>${card.name}</td>
               <td>${card.issuer}</td>
               <td>${card.apr}</td>
               <td>${card.Fee}</td>
               <td>${card.travel}</td>
               <td>${card.dining}</td>
               <td>${card.other}</td>
            </tr>
         `);
      }

      const searchData = async (e) => {
         const { payload } = await fecthData('/getCard', 'POST', { payload: e.value })
         searchResoult.innerHTML = '';
         if (payload.length < 1) {
            searchResoult.innerHTML = '<p>Nothing Found</p>';
            return;
         }

         clearTable();
         loadDataTable(payload);
      }

      const form = document.querySelector('.form');

      const onSubmit = (event) => {
         event.preventDefault();

         const newCard = {
            name: event.target.name.value,
            issuer: event.target.issuer.value,
            apr: event.target.apr.value,
            Fee: event.target.Fee.value,
            travel: event.target.travel.value,
            dining: event.target.dining.value,
            other: event.target.other.value,
         };

         fecthData('/form', 'POST', newCard).then(result => {
            if (result.success) {
               addRowTable(newCard);
               form.reset();
            } else {
               console.error(result)
            }
         })
      }

      form.addEventListener('submit', (event) => onSubmit(event));
   </script>

</body>

</html>